.app-footer {
  background: #242424;
  color: #ffffff;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;

  p {
    margin: 10px 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;

    span {
      font-weight: 600;
    }
  }
}
