<div class="app-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright &copy; {{copyrightDate | date: 'yyyy'}} <span>Carzoned, Inc.</span></p>
      </div>
    </div>
  </div>
</div>
