<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.styles.css[0] %>">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKALot9deMeCONS-MFaBS0Fm0tX-T_MGA&libraries=places"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  </head>
  <body ng-app="example">
    <example>
      <carzoned></carzoned>
    </example>
    <script type="text/javascript">
      var LOGIN_URL = 'http://localhost:38143/authenticate/login';
      var LOGOUT_URL = 'http://localhost:38143/authenticate/logout';
      var REGISTER_URL = 'http://localhost:38143/authenticate/register';
      var RIDE_ENDPOINT = 'http://localhost:38143/rides';
      var CONFIRM_RIDE_ENDPOINT = 'http://localhost:38143/confirm-ride';
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks.scripts.entry %>"></script>
  </body>
</html>
