<div class="ridecard" ng-click="vm.onSelect({selected: vm.rideId})">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <div class="row">
        <div class="col-md-12">
          <div class="ridecard__image">
            <img src="../../../../assets/unknown.png" alt="">
            <div class="image-overlay"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ridecard__confirm-ride">
            <button type="button" name="button" class="btn btn-default btn-sm btn__confirm-ride btn__ride-card" ng-click="vm.askPickup({selected: vm.rideId})" ng-if="vm.confirmRide.message !== 'accepted'">
              Ask Pickup
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <div class="row">
        <div class="col-md-12">
          <div class="ridecard__vehicle-no">
            {{vm.vehicleNo}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="ridecard__time-away">
            {{vm.timeAway | timeaway}}
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="ridecard__seats">
            {{vm.seatLeft}} seats left
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ridecard__review">
            {{vm.rating}}
            <star-rating current-rating="vm.rating"></star-rating>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr class="ridecard__divider">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ridecard__name">
            {{vm.ownerName}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="ridecard__car-details">
            {{vm.make}}
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="ridecard__car-details">
            {{vm.model}}
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="ridecard__car-details">
            {{vm.color}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
