.ridecard {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #ffffff;
  color: #555555;
  border-radius: 3px;

  .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #cc3300;
    opacity: 0.10;
  }

  .ridecard__image {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #ccc;
      margin: 5px;
    }

    .image-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 5;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #cc3300;
      opacity: 0.25;
      margin: 5px;
    }
  }

  .ridecard__vehicle-no {
    font-weight: 600;
    font-size: 14px;
  }

  .ridecard__time-away, .ridecard__seats {
    color: #999;
    font-size: 12px;
    font-style: italic;
  }

  .ridecard__name {
    margin: 2px 0;
    font-size: 14px;
  }

  .ridecard__divider {
    color: #999;
    margin: 5px 0;
  }

  .ridecard__car-details {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
  }

  .header {
    h5 {
      margin: 0;
    }
  }

  .btn__ride-card {
    display: none;
  }

}

.confirmed {
  .ridecard__no-show {
    display: block;
  }
}

.selected {
  .ridecard__image {
    .image-overlay {
      display: block;
    }
  }

  .overlay {
    display: block;
  }

  .btn__ride-card {
    display: block;
  }

  .ridecard__no-show {
    display: block;
  }
}
