<div class="faceted-filter">
  <div class="row">
    <div class="col-md-12">
      <h4>Refine By</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr class="refine">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-6">
      <filter-option title="Seats" select-multiple="true" show-controls="true">
        <div class="list-item" ng-repeat="seat in vm.seatsAvailable" ng-click="vm.selectFilter('seat', seat)">{{seat}}</div>
      </filter-option>
    </div>
    <div class="col-md-12 col-sm-6 col-xs-6">
      <filter-option title="Allowed Carry" select-multiple="false" show-controls="true" ng-if="vm.isLuggageAllowed || vm.isPetAllowed">
        <div class="list-item" ng-if="vm.isLuggageAllowed" ng-click="vm.selectFilter('carry', 'luggage')">Luggage</div>
        <div class="list-item" ng-if="vm.isPetAllowed" ng-click="vm.selectFilter('carry', 'pet')">Pet</div>
      </filter-option>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <filter-option title="Car Type" select-multiple="true" show-controls="true">
        <div class="list-item" ng-repeat="cartype in vm.carTypes" ng-click="vm.selectFilter('cartype', cartype)">{{cartype | formalize}}</div>
      </filter-option>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <filter-option title="Rating" select-multiple="true" show-controls="false">
        <div class="list-item" ng-repeat="rating in vm.ratings" ng-click="vm.selectFilter('rating', rating)">
          <star-rating current-rating="{{rating}}"></star-rating>
        </div>
      </filter-option>
    </div>
  </div>
</div>
