<div class="map-holder">
  <div class="map" id="map"></div>
  <div class="map-content">
    <div class="row">
      <div class="col-md-6">
        <location-search search="vm.locationSearch.originLocation" coords="vm.locationSearch.originCoords" placeholder="I start from ..."></location-search>
      </div>
      <div class="col-md-6">
        <location-search search="vm.locationSearch.destinationLocation" coords="vm.locationSearch.destinationCoords" placeholder="I end at ..."></location-search>
      </div>
    </div>
  </div>
</div>
