@import './locationsearch/locationsearch';

.map-holder {
  position: relative;
}

.map, .map-content, .map-holder {
  width: 100%;
  height: 400px;
}

.map-content {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}
