<div class="filter-option">
  <div class="form-group">
    <div class="list-holder">
      <div class="list-title">{{title}}</div>
      <div class="list-group">
        <ng-transclude></ng-transclude>
      </div>
    </div>
  </div>
</div>
