@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/animate.css/animate';
@import 'node_modules/font-awesome/css/font-awesome';

@import './authentication/authentication';
@import './ride/ride';
@import './utilities/utilities';
@import './map/map';
@import './review/review';
@import './assetfiltering/assetfiltering';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: 'Open Sans', sans-serif;
}

.carzoned {

}
