

.authentication-form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 3px;

  header {
    margin-bottom: 15px;
    font-weight: 400;

    h3 {
      margin: 0;
      color: #555555;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .help-block {
    font-size: 85%;
    color: #999999;
  }

  label {
    font-weight: 400;
    font-size: 13px;
  }

  input {
    font-size: 13px;
    border: none;
    background-color: #eeeeee;
    transition: border-color .15s ease-in-out,background-color .15s ease-in-out;
    font-weight: 400;
    box-shadow: none;

    &:focus {
      background-color: #dddddd;
      outline: none;
      box-shadow: none;
    }
  }

  button {
    color: #ffffff;
    background-color: #555555;
    border-color: #3c3c3c;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  }
}
