<div class="authentication-form">
  <div class="page-loading" ng-if="vm.isLoading">
    <loading-spinner width="35" height="35"></loading-spinner>
  </div>
  <header>
    <h3>Login</h3>
  </header>
  <form class="form" name="loginForm" accept-charset="utf-8" novalidate autocomplete="off">
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email" ng-model="vm.loginForm.email" required min="3" email-address />
      <div class="help-block" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
        <span ng-message="required">Email is required.</span>
        <span ng-message="min">Email should be minimum 3 characters.</span>
        <span ng-message="invalidEmail">The email is invalid</span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" ng-model="vm.loginForm.password" required />
      <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
        <span ng-message="required">Password is required.</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-sm" ng-click="vm.login()" ng-disabled="loginForm.$invalid">Submit</button>
    </div>
  </form>
  <div class="error-message" ng-if="vm.errorMessage">
    <div class="alert alert-danger" role="alert">
      {{vm.errorMessaage}}
    </div>
  </div>
</div>
