<div class="authentication-form">
  <div class="page-loading" ng-if="vm.isLoading">
    <loading-spinner width="35" height="35"></loading-spinner>
  </div>
  <header>
    <h3>Register</h3>
  </header>
  <form class="form" name="registerForm" accept-charset="utf-8" novalidate autocomplete="off">
    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Full Name" ng-model="vm.registerForm.name" required min="3" />
      <div class="help-block" ng-messages="registerForm.name.$error" ng-show="registerForm.name.$touched">
        <span ng-message="required">Name is required.</span>
        <span ng-message="min">Name should be minimum 3 characters.</span>
      </div>
    </div>
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email" ng-model="vm.registerForm.email" required min="3" email-address />
      <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
        <span ng-message="required">Email is required.</span>
        <span ng-message="min">Email should be minimum 3 characters.</span>
        <span ng-message="invalidEmail">The email is invalid</span>
      </div>
    </div>
    <div class="form-group">
      <input type="text" name="phonenumber" class="form-control" placeholder="Mobile Number" ng-model="vm.register.phonenumber" phone-input required min="3" />
      <div class="help-block" ng-messages="registerForm.phonenumber.$error" ng-show="registerForm.phonenumber.$touched">
        <span ng-message="required">Phone Number is required.</span>
        <span ng-message="min">Phone Number should be minimum 3 characters.</span>
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" ng-model="vm.register.password" required />
      <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
        <span ng-message="required">Password is required.</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-sm" ng-click="vm.register()" ng-disabled="registerForm.$invalid">Sign Up</button>
    </div>
  </form>
  <div class="error-message" ng-if="vm.errorMessage">
    <div class="alert alert-danger" role="alert">
      {{vm.errorMessaage}}
    </div>
  </div>
  <div class="success-message" ng-if="vm.successMessage">
    <div class="alert alert-success" role="alert">
      {{vm.successMessage}}
    </div>
  </div>
</div>
