<div class="ride">
  <div class="page-loading" ng-if="vm.isLoading">
    <loading-spinner width="35" height="35"></loading-spinner>
  </div>
  <div class="ride__map">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <map latitude="20.5937" longitude="78.9629" location-search="vm.locationSearch"></map>
        </div>
      </div>
    </div>
  </div>
  <div class="ride__list">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="ride__filter" ng-if="vm.errorMessage === ''">
            <faceted-filter filter-data="vm.rides" selected-rating="vm.filter.selectedRating" selected-car-type="vm.filter.selectedCarType" selected-carry="vm.filter.selectedCarry" selected-seat="vm.filter.selectedSeat"></faceted-filter>
          </div>
        </div>
        <div class="col-md-9">
          <div class="ride__count" ng-if="vm.errorMessage === ''">
            <div class="row">
              <div class="col-md-12">
                <div class="message alert" ng-class="{'alert-success': (vm.confirmRide.message === 'accepted'), 'alert-warning': (vm.confirmRide.message === 'declined')}" ng-if="vm.confirmRide.message">
                  Your ride is {{vm.confirmRide.message | formalize}}

                  <div ng-if="vm.confirmRide.message === 'accepted'">
                    <h3>{{vm.confirmRide.data.name}}</h3>
                    <h4>{{vm.confirmRide.data.phone}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ride-cards" ng-if="vm.errorMessage === ''">
            <div class="row">
              <div class="col-md-4" ng-repeat="ride in vm.rides">
                <ride-card ride-id="ride.id" vehicle-no="ride.vehicleNo" time-away="ride.timeAway" seat-left="ride.seatLeft" owner-name="ride.ownerName" make="ride.make" model="ride.model" color="ride.color" on-select="vm.onSelect(selected)" ask-pickup="vm.askPickup(selected)" ng-class="{'selected' : vm.selected==ride.id}" confirm-ride="vm.confirmRide"></ride-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="vm.errorMessage !== ''">
        <div class="col-md-12">
          <div class="ride-error">
            <p>{{vm.errorMessage}}</p>
          </div>
        </div>
      </div>
      <div class="row" ng-if="(vm.locationSearch.originLocation === '' || vm.locationSearch.destinationLocation === '')">
        <div class="col-md-12">
          <div class="ride-error">
            <h4>Please enter your origin and destination</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
