@import './ridecard/ridecard';

.btn__confirm-ride {
  color: #fff;
  background-color: #555;
  border-color: #3c3c3c;
  margin: 0 auto;
  padding: 2px 5px;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #3c3c3c;
    border-color: #555;
    outline: none;
  }

  &[disabled] {
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: #555;
      border-color: #3c3c3c;
      outline: none;
    }
  }
}

.ride__option {
  margin: 20px 0;

  .ride__option__grouped-button {
    width: 300px;
    margin: 0 auto;
  }
}

.ride__ride-form__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
}

.ride__ride-form__holder {
  padding: 10px;
}

.group-or-buttons {
  display: inline-block;
  vertical-align: middle;

  .or {
    position: relative;
    float: left;
    width: .3em;
    height: 1.3em;
    z-index: 3;
    font-size: 16px !important;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: 'or';
      background-color: #dddddd;
      margin-top: -.1em;
      margin-left: -.9em;
      width: 1.8em;
      height: 1.8em;
      line-height: 1.55;
      color: #555555;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      border-radius: 500px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: ' ';
      width: .3em;
      height: 2.85em;
      background-color: rgba(0, 0, 0, 0);
      border-top: .6em solid #dddddd;
      border-bottom: .6em solid #dddddd;
    }
  }

  &:after {
    content: '.';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
  }

  .btn {
    float: left;
    border-radius: 0px;

    &:first-child {
      margin-left: 0;
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em;
      padding-right: 15px;
    }

    &:last-child {
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
      padding-left: 15px;
    }
  }
}

.ride-cards {
  margin: 10px 0;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(215, 215, 215, 0.5);
  overflow: hidden;
  z-index: 1;
  padding: 20px;
}

.ride-error {
  color: #999999;
  font-size: 18px;
  text-align: center;
  margin: 50px 0;

  h4 {
    font-weight: 300 !important;
  }
}

.message {
  margin-top: 10px;
}
