.location-search {
  width: 75%;
  margin: 10px auto;
  padding: 10px;
  background: #242424;
  position: relative;
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  input {
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: transparent;
    color: #ffffff;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      border: 0px;
    }
  }
}
